:root {

    --background: #19120c;

    --error: #ffb4ab;

    --error_container: #93000a;

    --inverse_on_surface: #382f28;

    --inverse_primary: #88511e;

    --inverse_surface: #efe0d6;

    --on_background: #efe0d6;

    --on_error: #690005;

    --on_error_container: #ffdad6;

    --on_primary: #4d2600;

    --on_primary_container: #ffdcc3;

    --on_primary_fixed: #2f1500;

    --on_primary_fixed_variant: #6c3a07;

    --on_secondary: #422c1a;

    --on_secondary_container: #ffdcc3;

    --on_secondary_fixed: #2a1707;

    --on_secondary_fixed_variant: #5a422e;

    --on_surface: #efe0d6;

    --on_surface_variant: #d6c3b6;

    --on_tertiary: #2e330d;

    --on_tertiary_container: #e1e7b0;

    --on_tertiary_fixed: #191e00;

    --on_tertiary_fixed_variant: #454a21;

    --outline: #9e8e82;

    --outline_variant: #51443b;

    --primary: #ffb77d;

    --primary_container: #6c3a07;

    --primary_fixed: #ffdcc3;

    --primary_fixed_dim: #ffb77d;

    --scrim: #000000;

    --secondary: #e3c0a6;

    --secondary_container: #5a422e;

    --secondary_fixed: #ffdcc3;

    --secondary_fixed_dim: #e3c0a6;

    --shadow: #000000;

    --source_color: #967b67;

    --surface: #19120c;

    --surface_bright: #413731;

    --surface_container: #261e18;

    --surface_container_high: #312822;

    --surface_container_highest: #3c332c;

    --surface_container_low: #221a14;

    --surface_container_lowest: #140d08;

    --surface_dim: #19120c;

    --surface_tint: #ffb77d;

    --surface_variant: #51443b;

    --tertiary: #c5cb96;

    --tertiary_container: #454a21;

    --tertiary_fixed: #e1e7b0;

    --tertiary_fixed_dim: #c5cb96;



    --background_rgb: 25 18 12;

    --error_rgb: 255 180 171;

    --error_container_rgb: 147 0 10;

    --inverse_on_surface_rgb: 56 47 40;

    --inverse_primary_rgb: 136 81 30;

    --inverse_surface_rgb: 239 224 214;

    --on_background_rgb: 239 224 214;

    --on_error_rgb: 105 0 5;

    --on_error_container_rgb: 255 218 214;

    --on_primary_rgb: 77 38 0;

    --on_primary_container_rgb: 255 220 195;

    --on_primary_fixed_rgb: 47 21 0;

    --on_primary_fixed_variant_rgb: 108 58 7;

    --on_secondary_rgb: 66 44 26;

    --on_secondary_container_rgb: 255 220 195;

    --on_secondary_fixed_rgb: 42 23 7;

    --on_secondary_fixed_variant_rgb: 90 66 46;

    --on_surface_rgb: 239 224 214;

    --on_surface_variant_rgb: 214 195 182;

    --on_tertiary_rgb: 46 51 13;

    --on_tertiary_container_rgb: 225 231 176;

    --on_tertiary_fixed_rgb: 25 30 0;

    --on_tertiary_fixed_variant_rgb: 69 74 33;

    --outline_rgb: 158 142 130;

    --outline_variant_rgb: 81 68 59;

    --primary_rgb: 255 183 125;

    --primary_container_rgb: 108 58 7;

    --primary_fixed_rgb: 255 220 195;

    --primary_fixed_dim_rgb: 255 183 125;

    --scrim_rgb: 0 0 0;

    --secondary_rgb: 227 192 166;

    --secondary_container_rgb: 90 66 46;

    --secondary_fixed_rgb: 255 220 195;

    --secondary_fixed_dim_rgb: 227 192 166;

    --shadow_rgb: 0 0 0;

    --source_color_rgb: 150 123 103;

    --surface_rgb: 25 18 12;

    --surface_bright_rgb: 65 55 49;

    --surface_container_rgb: 38 30 24;

    --surface_container_high_rgb: 49 40 34;

    --surface_container_highest_rgb: 60 51 44;

    --surface_container_low_rgb: 34 26 20;

    --surface_container_lowest_rgb: 20 13 8;

    --surface_dim_rgb: 25 18 12;

    --surface_tint_rgb: 255 183 125;

    --surface_variant_rgb: 81 68 59;

    --tertiary_rgb: 197 203 150;

    --tertiary_container_rgb: 69 74 33;

    --tertiary_fixed_rgb: 225 231 176;

    --tertiary_fixed_dim_rgb: 197 203 150;

}
