:root {

    --background: #0f1512;

    --error: #ffb4ab;

    --error_container: #93000a;

    --inverse_on_surface: #2c322f;

    --inverse_primary: #156b54;

    --inverse_surface: #dee4df;

    --on_background: #dee4df;

    --on_error: #690005;

    --on_error_container: #ffdad6;

    --on_primary: #00382a;

    --on_primary_container: #a4f2d5;

    --on_primary_fixed: #002117;

    --on_primary_fixed_variant: #00513e;

    --on_secondary: #1e352d;

    --on_secondary_container: #cee9dc;

    --on_secondary_fixed: #082018;

    --on_secondary_fixed_variant: #344c43;

    --on_surface: #dee4df;

    --on_surface_variant: #bfc9c3;

    --on_tertiary: #0c3445;

    --on_tertiary_container: #c3e8fe;

    --on_tertiary_fixed: #001e2b;

    --on_tertiary_fixed_variant: #274b5d;

    --outline: #89938e;

    --outline_variant: #3f4944;

    --primary: #88d6ba;

    --primary_container: #00513e;

    --primary_fixed: #a4f2d5;

    --primary_fixed_dim: #88d6ba;

    --scrim: #000000;

    --secondary: #b2ccc1;

    --secondary_container: #344c43;

    --secondary_fixed: #cee9dc;

    --secondary_fixed_dim: #b2ccc1;

    --shadow: #000000;

    --source_color: #a9b9b1;

    --surface: #0f1512;

    --surface_bright: #343b37;

    --surface_container: #1b211e;

    --surface_container_high: #252b28;

    --surface_container_highest: #303633;

    --surface_container_low: #171d1a;

    --surface_container_lowest: #090f0d;

    --surface_dim: #0f1512;

    --surface_tint: #88d6ba;

    --surface_variant: #3f4944;

    --tertiary: #a7cce1;

    --tertiary_container: #274b5d;

    --tertiary_fixed: #c3e8fe;

    --tertiary_fixed_dim: #a7cce1;



    --background_rgb: 15 21 18;

    --error_rgb: 255 180 171;

    --error_container_rgb: 147 0 10;

    --inverse_on_surface_rgb: 44 50 47;

    --inverse_primary_rgb: 21 107 84;

    --inverse_surface_rgb: 222 228 223;

    --on_background_rgb: 222 228 223;

    --on_error_rgb: 105 0 5;

    --on_error_container_rgb: 255 218 214;

    --on_primary_rgb: 0 56 42;

    --on_primary_container_rgb: 164 242 213;

    --on_primary_fixed_rgb: 0 33 23;

    --on_primary_fixed_variant_rgb: 0 81 62;

    --on_secondary_rgb: 30 53 45;

    --on_secondary_container_rgb: 206 233 220;

    --on_secondary_fixed_rgb: 8 32 24;

    --on_secondary_fixed_variant_rgb: 52 76 67;

    --on_surface_rgb: 222 228 223;

    --on_surface_variant_rgb: 191 201 195;

    --on_tertiary_rgb: 12 52 69;

    --on_tertiary_container_rgb: 195 232 254;

    --on_tertiary_fixed_rgb: 0 30 43;

    --on_tertiary_fixed_variant_rgb: 39 75 93;

    --outline_rgb: 137 147 142;

    --outline_variant_rgb: 63 73 68;

    --primary_rgb: 136 214 186;

    --primary_container_rgb: 0 81 62;

    --primary_fixed_rgb: 164 242 213;

    --primary_fixed_dim_rgb: 136 214 186;

    --scrim_rgb: 0 0 0;

    --secondary_rgb: 178 204 193;

    --secondary_container_rgb: 52 76 67;

    --secondary_fixed_rgb: 206 233 220;

    --secondary_fixed_dim_rgb: 178 204 193;

    --shadow_rgb: 0 0 0;

    --source_color_rgb: 169 185 177;

    --surface_rgb: 15 21 18;

    --surface_bright_rgb: 52 59 55;

    --surface_container_rgb: 27 33 30;

    --surface_container_high_rgb: 37 43 40;

    --surface_container_highest_rgb: 48 54 51;

    --surface_container_low_rgb: 23 29 26;

    --surface_container_lowest_rgb: 9 15 13;

    --surface_dim_rgb: 15 21 18;

    --surface_tint_rgb: 136 214 186;

    --surface_variant_rgb: 63 73 68;

    --tertiary_rgb: 167 204 225;

    --tertiary_container_rgb: 39 75 93;

    --tertiary_fixed_rgb: 195 232 254;

    --tertiary_fixed_dim_rgb: 167 204 225;

}
