@import "colors.css";

* {
    font-family: "JetBrainsMonoNL Nerd Font Mono";
    font-weight: bold;
}

#waybar {
    color: @on_surface;
    background-color: @surface;
    border-radius: 10px;
    font-size: 15px;
}

#workspaces {
    color: @on_surface;
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0 5px;
    font-size: 15px;
}

#workspaces button {
    color: @on_surface; 
    padding: 0 5px;
    margin: 3px 2px;
    border-radius: 5px;
    font-size: 15px;
}

#workspaces button.active {
    color: @on_primary;
    background-color: @primary;
    font-size: 15px;
}

#bluetooth {
    padding: 0 10px;
}

#clock {
    padding: 0 5px;
}

#tray {
    padding: 0 7px;
}

/*#brightness {
    padding: 0 5px;
    font-size: 1000px;
}*/
