* {
    primary: #ffb77d;
    primary-fixed: #ffdcc3;
    primary-fixed-dim: #ffb77d;
    on-primary: #4d2600;
    on-primary-fixed: #2f1500;
    on-primary-fixed-variant: #6c3a07;
    primary-container: #6c3a07;
    on-primary-container: #ffdcc3;
    secondary: #e3c0a6;
    secondary-fixed: #ffdcc3;
    secondary-fixed-dim: #e3c0a6;
    on-secondary: #422c1a;
    on-secondary-fixed: #2a1707;
    on-secondary-fixed-variant: #5a422e;
    secondary-container: #5a422e;
    on-secondary-container: #ffdcc3;
    tertiary: #c5cb96;
    tertiary-fixed: #e1e7b0;
    tertiary-fixed-dim: #c5cb96;
    on-tertiary: #2e330d;
    on-tertiary-fixed: #191e00;
    on-tertiary-fixed-variant: #454a21;
    tertiary-container: #454a21;
    on-tertiary-container: #e1e7b0;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #19120c;
    on-surface: #efe0d6;
    on-surface-variant: #d6c3b6;
    outline: #9e8e82;
    outline-variant: #51443b;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #efe0d6;
    inverse-on-surface: #382f28;
    inverse-primary: #88511e;
    surface-dim: #19120c;
    surface-bright: #413731;
    surface-container-lowest: #140d08;
    surface-container-low: #221a14;
    surface-container: #261e18;
    surface-container-high: #312822;
    surface-container-highest: #3c332c;
}
